# Required
BOT_TOKEN=put_your_telegram_bot_token_here
ADMIN_ID=7088682169
ZAP_KEY=put_your_zap_key_here

# Optional
PORT=3000
# Railway Volume mount path can be used for persistence:
# DATA_FILE_PATH=/data/store.json
# BOT_ID=
# MASTER_KEY=
PAYMENT_API_KEY=
RESELLER_API_KEY=
RESELLER_MASTER_KEY=